body{
    background-color: #eaeaea;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding-left: 20px;
}
h1.titulo{
    color:rgb(50, 85, 161);
}

.boton{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgb(50, 85, 161);
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.boton:hover{
    background-color: #eaeaea;
    color:rgb(50, 85, 161);
    border: solid 1px rgb(50, 85, 161);
}

.ventanaModal{
	width:600px;
	height:400px;
	position:absolute;
	left:-650px;
	top:-450px;
	background-color: rgb(255, 255, 255);
	border:solid 1px #b8b8b8;
	z-index:2;
    border-radius: 10px;
    padding: 10px;
	
	-webkit-transition:top ease-out 0.6s;
	transition:top ease-out 0.6s;
	
}

.ventanaModal .titulo{
    font-size: 24px;
    color:salmon;
    font-weight: 700;
}

.ventanaModal .texto{
    font-size: 16px;
    line-height: 30px;
}

.ventanaModal .botonera{
    text-align: right;
    padding-right: 10px;
}

.ventanaModal .botonCerrar{
    border: none;
    font-size:24px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(80, 80, 80);

}

.pantallaBloqueo{
	position:absolute;
	z-index:1;
	left:0px;
	top:0px;
	width:1px;
	height:1px;
	background:#000000;
	opacity:0;
	visibility:hidden;
	
	-webkit-transition:opacity 0.5s;
	transition:opacity 0.5s;
}

